<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DzienniczekUcznia-Witaj młody człowieku</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/87cfb0cc30.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav class="navbar bg-transparent navbar-expand-md text-primary">
            <a class="navbar-brand" href='#'><img src="/img/Logo.png" height="50" class="d-inline-block mr-2 align-bottom"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="menu">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/director/addclass}"> <i class="fas fa-user-plus" style="color:gold"> </i> Dodaj klasę </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/director/addpupil}"> <i class="fas fa-user-plus" style="color:greenyellow"></i> Dodaj Ucznia </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/director/addteacher}"> <i class="fas fa-user-plus" style="color:orangered"></i> Dodaj Nauczyciela </a>

                    </li>

                </ul>

            </div>

            <div>
                <a th:href="@{/logout}"> <i class="fas fa-user-lock"></i> Wyloguj </a></div>

        </nav>
        <hr>
    </header>
    <div class="contrainer" id="content">
        <div class="row">
            <div class="col-12">
                <p class="text-center" th:if="${ismessge}" style="color:red; font-weight:bold"> <i class="fas fa-envelope-open-text"></i> Masz nową wiadomość</p>
                <hr>

                <div class="chat">
                    <h1>Dodaj Ucznia</h1>

                    <form th:action="@{/director/addpupil}" method="post">
			
			<input class="add" placeholder="Imię" type="text" id="firstname" name="firstname" required><br>
			
			<input class="add" placeholder="Nazwisko" type="text" id="lastname" name="lastname" required><br>
			
			<label for="idschoolclass">klasa</label>
			<select id="idschoolclass" name="idschoolclass" required>
				<option th:each="i : ${allClasses}" th:value="${i.idschoolclass}" th:text="${i.name}"></option>
			</select><br>
			
			<button type="submit">Dodaj</button>
		</form>
                </div>

            </div>
        </div>
    </div>
    <footer class="footer text-center"> Copyright &copy All rights reserved 2020 3NinjaCoders</footer>
</body></html>