<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
<link rel="stylesheet" type="text/css" href="/css/main_style.css" />
<link rel="stylesheet" type="text/css" href="/css/message_style.css" />
</head>

<style> /* TESTOWO */

</style>
<body>
	<nav th:replace="teacher/fragments/top :: top"></nav>
	
	<section id="content">
	<!-- ********************************************************************************** -->
		<p th:text="${className}">
		
		<table>
			<tr th:each="i ,it : ${cmv_list}">
				<td th:text="${it.count}"></td>
				<td th:if="${i.hasNewMessage == 1}"  class="ismsg"> obrazek</td>
				<td th:unless="${i.hasNewMessage == 1}"  class="isnmsg"> obrazek</td>
				<td th:text="${i.pupilName}"></td>
				<td>
					<a th:href="@{'/teacher/message/' + ${i.idpupil}}">Wiadomość</a>
				</td>
			</tr>	
		</table>

	<!-- ********************************************************************************** -->
	</section>
	
	<aside id="rightmenu" th:replace="teacher/fragments/rightmenu :: rightmenu"></aside>
	<aside id="servicemap" th:replace="teacher/fragments/servicemap :: servicemap"></aside>
	<footer th:replace="teacher/fragments/footer :: footer"></footer>
</body>
</html>