<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DzienniczekUcznia-Witaj młody człowieku</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/87cfb0cc30.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav class="navbar bg-transparent navbar-expand-md text-primary">
            <a class="navbar-brand" href='#'><img src="/img/Logo.png" height="50" class="d-inline-block mr-2 align-bottom"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="menu">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/teacher/timesheetall}"> <i class="fas fa-list-ol"></i> Lista Obecności</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/teacher/home}"> <i class="fas fa-house-user"></i> Strona Głowna</a>
                    </li>


                </ul>

            </div>

            <div>
                <a th:href="@{/logout}"> <i class="fas fa-user-lock"></i> Wyloguj </a><span th:text="${session.teacher.firstname}"> </span> <span th:text="${session.teacher.lastname}"></span></div>

        </nav>
        <hr>
    </header>
    <div class="contrainer" id="content">
        <div class="row">
            <div class="col-12">
                <p class="text-center" th:if="${ismessge}" style="color:red; font-weight:bold"> <i class="fas fa-envelope-open-text"></i> Masz nową wiadomość</p><br>
                <div class="text-center">
                    <a th:href="@{'/teacher/showclass/' + ${idclass}}"> <i class="fas fa-award" style="color:#FF0000"></i> Oceny klasy </a>
                    <a th:href="@{'/teacher/timesheet/' + ${session.teacher.id} + '/' + ${idclass}}"> <i class="far fa-chart-bar" style="color:#7fe72e"></i> Obecność </a>
                    <a th:href="@{'/teacher/msglist/' + ${idclass}}"> <i class="far fa-comments" style="color:#ffdb00"></i> Wiadomości </a>


                    <hr>
                    <p th:text="${currentmonthn}"></p>
                    <div th:each="i : ${tsv}">
					<form th:action="@{/teacher/timesheet}" method="post">
						

							<table class="table-striped">

								<tr>
									<td th:text="${i.name}"></td>


									<td th:each="x : ${i.value}"><input class="absent"
										name="value" type="number" min="0" required max="2" th:value="${x}">
									</td>
									<td><input type="hidden" name="idpupil"
										th:value="${i.idpupil}"> <input type="hidden"
										name="idclass" th:value="${idclass}"> <input
										type="hidden" name="idteacher" th:value="${idteacher}">
										<input type="hidden" name="mon" th:value="${mon}"> <input
										type="hidden" name="year" th:value="${year}">
										<button type="submit">Aktualizuj</button></td>

								</tr>
							</table>
							
					</form>
				</div>
			

                    
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center"> Copyright &copy All rights reserved 2020 3NinjaCoders</footer>
</body>

</html>
