<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
<link rel="stylesheet" type="text/css" href="/css/main_style.css" />
<link rel="stylesheet" type="text/css" href="/css/message_style.css" />
</head>

<style> /* TESTOWO */

</style>
<body>
	<nav th:replace="pupil/fragments/top :: top"></nav>
	
	<section id="content">
	<!-- ********************************************************************************** -->
	
		<p ><span>Rozmowa z: </span><span th:text="${teacherName}"></span></p>
		<form th:action="@{/pupil/message}" method="post">
			<label for="msg">Treść</label>
			<textarea id="contentmsg" name="msg" required></textarea><br>
			<input type="hidden" name="toid" th:value="${idteacher}">
			<button type="submit">Wyślij</button>
		</form>
		
		<table>
			<tr th:each="i : ${chat}" th:if="${i.fromid == me}" class="myMsg">
				<td th:text="${i.timestampmsg}"></td>
				<td>Me</td>
				<td th:text="${i.msg}"></td>
			</tr>
			<tr th:each="i : ${chat}" th:unless="${i.fromid == me}" class="NotmyMsg">
				<td th:text="${i.timestampmsg}"></td>
				<td th:text="${teacherName}"></td>
				<td th:text="${i.msg}"></td>
			</tr>
		</table>
	
	<!-- ********************************************************************************** -->
	</section>
	
	<aside th:replace="pupil/fragments/rightmenu :: rightmenu"></aside>
	<aside th:replace="pupil/fragments/servicemap :: servicemap"></aside>
	<footer th:replace="pupil/fragments/footer :: footer"></footer>
</body>
</html>